x-tickets-common: &tickets-common
  build:
    context: .
    dockerfile: deployment/docker/Dockerfile
  networks:
    - public
    - backend
  depends_on: &tickets-depends-on
    tickets-db:
      condition: service_healthy
  environment:
    - DJANGO_SETTINGS_MODULE=tickets.settings
    - DJANGO_SUPERUSER_USERNAME=admin
    - DJANGO_SUPERUSER_EMAIL=admin@tickets.localhost
    - DJANGO_SUPERUSER_PASSWORD=admin
    - PYTHONPATH=/app
    - DEBUG="True"
    - ALLOWED_HOSTS=127.0.0.1,localhost,tickets.localhost
    - CSRF_TRUSTED_ORIGINS=https://tickets.localhost:8443
    - POSTGRES_DB=postgres
    - POFSTGRES_USER=postgres
    - POSTGRES_PASSWORD=Test123!
    - POSTGRES_HOST=tickets-db
    - POSTGRES_PORT=1433
    - DEPOT_API_URL=http://depot-service:8000/api
    - TREASURY_API_URL=http://treasury-api:8001/api
    - TREASURY_API_KEY=treasury-key

services:
  tickets-api:
    <<: *tickets-common
    command: >
      sh -c "python -m tickets runserver 0.0.0.0:8000"
    labels:
      - caddy=tickets.localhost
      - caddy.reverse_proxy=tickets-api:8000
      - caddy.tls=internal
    ports:
      - "8000:8000"
    restart: unless-stopped

  tickets-test:
    <<: *tickets-common
    build:
      context: .
      dockerfile: deployment/docker/Dockerfile
      target: testing
    volumes:
      - ./reports:/app/reports
    command: ./run-tests.sh
    networks:
      - backend

  tickets-db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - tickets-db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      start_interval: 2s
      start_period: 2s
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - backend

networks:
  public:
    driver: bridge
    # only to communicate with other apis
  #        external: true
  backend:
    driver: bridge

volumes:
  tickets-db-data:
  tickets-minio-data:
  redis-data:
