name: Tickets CI

on:
    pull_request:
        paths:
            - 'tickets/**'
            - '.github/workflows/tickets.yml'
    push:
      branches:
        - '**'
      paths:
        - 'tickets/**'
        - '.github/workflows/tickets.yml'

jobs:
    test-coverage:
        runs-on: ubuntu-latest

        permissions:
            checks: write
            pull-requests: write
            contents: read

        defaults:
            run:
                working-directory: tickets

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build and run test container
                run: docker compose -f compose.yaml up --build --abort-on-container-exit tickets-test

            -   name: Upload coverage report
                uses: actions/upload-artifact@v4
                with:
                    name: tickets-coverage-report
                    path: reports/coverage.xml

            -   name: Upload test report
                uses: actions/upload-artifact@v4
                with:
                    name: tickets-test-report
                    path: reports/pytest-report.xml

            -   name: Test Summary
                uses: dorny/test-reporter@v2
                if: ${{ !cancelled() }}
                with:
                    name: Tickets Tests
                    path: reports/pytest-report.xml
                    reporter: jest-junit

            -   name: Code Coverage Report
                uses: irongut/CodeCoverageSummary@v1.3.0
                with:
                    filename: reports/coverage.xml
                    badge: true
                    fail_below_min: false
                    format: markdown
                    hide_branch_rate: false
                    hide_complexity: true
                    indicators: true
                    output: both
                    thresholds: '20 40'

            - name: Add Coverage PR Comment
              uses: marocchino/sticky-pull-request-comment@v2
              with:
                recreate: true
                path: code-coverage-results.md
